.left-container{
  margin-right:auto;
  margin-left:auto;
}

.userInfo {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid lightgrey;
  border-radius: 1em;
  background-color: white;
  box-shadow: 15px 8px 10px lightgrey;
}
