.side-drawer{
  height: 100%;
  background: #1B1C1D;
  box-shadow: 1px 0px 7px rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  z-index: 400;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-drawer.open{
  transform: translateX(0);
}

.side-drawer a{
  color: white; 
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: rgb(44, 88, 209);

}

@media (min-width: 769px){
  .side-drawer{
    display: none;
  }
}

.avatar-login{
  padding-top: 8%;
  height: 10%;
  padding-bottom: 8%;
}
.sizeofavatar{
  height: 45px !important;
  width: 46px !important;
}
#accountbutton{
  width: 80%;
}
.platformbutton{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba($color: #3d3d3d, $alpha: 0.7);
  border-bottom: 1px solid rgba($color: #3d3d3d, $alpha: 0.7);
  margin: 10% 0;
  padding: 10% 0;
}
.platformlogo{
  display: flex;
  flex: nowrap;
  width: 100%;
  height: 10%;
  border-top: 1px solid rgba($color: #3d3d3d, $alpha: 0.7);
  border-bottom: 1px solid rgba($color: #3d3d3d, $alpha: 0.7);
  padding-top: 10%;
  padding-bottom: 10%;
}
.facebook1{
  color:white;
  width: 25%;
  height: 100%;
  background: url("./facebook-letter-logo.svg") no-repeat center;
}
.linkedin{
  color:white;
  width: 25%;
  height: 100%;
  background: url("./linkedin-logo.svg") no-repeat center;
}
.youtube{
  color:white;
  width: 25%;
  height: 100%;
  background: url("./youtube-logotype.svg") no-repeat center;
}
.twitter2{
  color:white;
  width: 25%;
  height: 100%;
  background: url("./twitter-logo.svg") no-repeat center;
}
.platformbutton-items{
  width: 100%;
  
  height: 50%;
  list-style: none;
  padding: 0.5rem 0;
  &:hover{
    background-color: #424446;
  }
}
.typemenu{
  color: white;
  width: 100%;
  border-bottom: 1px solid rgba($color: #3d3d3d, $alpha: 0.7);
  padding-bottom: 10%;
}
.spinner{
  width: 100%;
  height: 15%;
  background: url("./game-5.6s-236px.svg") no-repeat center;
}
.space{
  flex: 1;
}
