.side-drawer{
  height: 100%;
  background: #1B1C1D;
  box-shadow: 1px 0px 7px rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  z-index: 400;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open{
  transform: translateX(0);
}

.side-drawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.side-drawer li{
  margin: 0.5rem 0;
}
.side-drawer a{
  color: white; 
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: rgb(44, 88, 209);

}

@media (min-width: 769px){
  .side-drawer{
    display: none;
  }
}
