#articles {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

#cards {
  margin-bottom: 50px;
  box-shadow: 15px 10px 5px lightgrey;
  height: 520px;
  width: 450px;

  @media screen and (max-width: 1000px) {
    width: 70%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.divimg{
  overflow: hidden;
}
.image{
    -webkit-transition: all 300ms ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all 300ms ease-out;
    -ms-transform: scale(1);
    -moz-transition: all 300ms ease-out;
    -moz-transform: scale(1);
    transition: all 300ms ease-out;
    transform: scale(1);
    &:hover{
      transform: scale(1.08);
    }
}
.news-BigTitle{
  font-size: 1.5vw;
  margin: 2% 0% 2% 0%;
  color: #e02832;
  &::before{
    margin-right: 10px;
    border-top: 1px solid #e02832;
    content: "";
  display: inline-block;
  background-size: contain;
  width: 30%;
  height: .40em;
  }
  &::after{
    border-top: 1px solid #e02832;
    content: "";
    margin-left: 10px;
  display: inline-block;
  background-size: contain;
  width: 30%;
  height: .40em;
  }
  
}
.news-smallTitle{
  color: #e02832;
  border-bottom: 0.5vh solid #e02832;
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 2vh;
  padding-bottom: 1vh;
  & h3{
    font-size: 1vw;
  }

}

#divPincipal{
  width: 100%;
  height: 50%;
  display: flex;
  flex: wrap;
  background-color: white;
  overflow: hidden;
}

.news{
  position: relative;
  width: 60%;
  margin: 1% 1.5% 1% 1%;
  overflow:hidden;

  &-header{
    transform: scale(1);
    transition: all 300ms ease-out;
    z-index: 1;
  }
  &-header:hover{
    transform: scale(1.08);
  }
}
#news-title{
  padding: 2%;
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom:0;
  color: white;
  font-weight: bold;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 250ms ease;
  &:hover{
    background-color: rgb(0, 0, 0);
  }
  & h2{
    font-size: 1.2vw;
  }
}
.news-header-image{
  height: 100%;
  width: 100%;
}
.divSecondaire2{
  border-left: 1px solid grey;
  display: block;
  width: 40%;
  padding: 1% 1% 1% 1%;
  overflow-y: scroll;
}
.container{
  height: 21%;
  overflow: hidden;
  display: flex;
  flex: row wrap;
  margin-bottom: 20px;
}
.container-1{
  width: 30%;
  overflow: hidden;
}
.container-1-img{
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: all 300ms ease-out;
}
.container-1-img:hover{
  transform: scale(1.08);
}
.container-2{
  width: 68%;
  margin-left: 2%;
  border-bottom: 1px solid grey;

}
.container-2 p{
  margin-bottom: 0;
  text-align: left;
  margin-top: 1%;
  max-height: 52.5%;
  max-width: 100%;
  font-size: 0.9vw;
  overflow: hidden;
  line-height: 1.2em;
}

.arrow{
  width: 100%;
  height: 23.75%;
  text-align: right;
  &:after{
    content: "";
    display: inline-block;
    background: url("./arrow.svg") no-repeat center;
    background-size: contain;
    width: 0.9em;
    height: 0.9em;
    transform: rotate(1turn);
    
  }
}
.container-2 h3{
  text-align: justify;
  font-size: 0.9vw;
  height: 23.75%;
  overflow: hidden;
}

.card-resume {
  height: 60px;
  overflow: hidden;
}
.user-preferencies{
  width: 100%;
  height: 25vh;
  border: 1px solid grey;
  background-color: white;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;

  @media screen and (max-width: 1000px) {
   display: flex;
  }
}

.pref-head {
  font-weight: bolde;
  color: black;
  margin-bottom: 10px;
}

#cards-pref {
  margin-top: 10%;
  box-shadow: 15px 10px 5px lightgrey;
  @media screen and (max-width: 1000px) {
    width: 70%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.pref-desc {
  height: 30%;
  overflow: hidden;
}
