#articles {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  
}

#cards {
  margin-bottom: 50px;
  box-shadow: 15px 10px 5px lightgrey;
  height: 520px;
  width: 450px;
  @media screen and (max-width: 1000px) {
    width: 70%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.divimg{
  overflow: hidden;
}
.image{
    -webkit-transition: all 300ms ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all 300ms ease-out;
    -ms-transform: scale(1);
    -moz-transition: all 300ms ease-out;
    -moz-transform: scale(1);
    transition: all 300ms ease-out;
    transform: scale(1);
    &:hover{
      transform: scale(1.08);
    }
}
.news-BigTitle{

  margin: 50px 10px 30px 10px;
  color: #e02832;
  &::before{
    margin-right: 10px;
    border-top: 1px solid #e02832;
    content: "";
  display: inline-block;
  background-size: contain;
  width: 20em;
  height: .40em;
  }
  &::after{
    border-top: 1px solid #e02832;
    content: "";
    margin-left: 10px;
  display: inline-block;
  background-size: contain;
  width: 20em;
  height: .40em;
  }
  
}
.news-smallTitle{
  color: #e02832;
  border-bottom: 4px solid #e02832;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#divPincipal{
  width: 100%;
  display: flex;
  flex: wrap;
  background-color: white;
}

.news{
  position: relative;
  width: 60%;
  margin: 20px 30px 20px 20px;
  overflow:hidden;

  &-header{
    transform: scale(1);
    transition: all 300ms ease-out;
    z-index: 1;
  }
  &-header:hover{
    transform: scale(1.08);
  }
}
#news-title{
  padding: 20px;
  position: absolute;
  z-index: 200;
  width: 100%;
  bottom:0;
  color: white;
  font-size: 1.7em;
  font-weight: 400;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 250ms ease;
  &:hover{
    background-color: rgb(0, 0, 0);
    color: #FF3C1F;
  }
}
.news-header-image{
  height: 100%;
  width: 100%;
}
.divSecondaire2{
  border-left: 1px solid grey;
  display: block;
  height: 650px;;
  width: 40%;
  padding: 20px 20px 20px 30px;
  overflow-y: scroll;
}
.container{
  height: 21%;
  overflow: hidden;
  display: flex;
  flex: row wrap;
  margin-bottom: 20px;
}
.container-1{
  width: 30vw;
  overflow: hidden;
}
.container-1-img{
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 300ms ease-out;
}
.container-1-img:hover{
  transform: scale(1.08);
}
.container-2{
  width: 65vw;
  margin-left: 20px;
  border-bottom: 1px solid grey;
}
.container-2 p{
  text-align: left;
  padding-bottom:15px;
  margin-top: 5px;
}
.arrow:after{
  content: "";
  display: inline-block;
  background: url("./arrow.svg") no-repeat center;
  background-size: contain;
  width: .8em;
  height: .8em;
  margin-left: 25em;
  transform: rotate(1turn);
}
.container-2 h3{
  text-align: left;
}

.card-resume {
  height: 60px;
  overflow: hidden;
}
