#PageArticle{
  padding: 0em 3em 0em 3em;
}

#Article{
  padding: 3em 1em 1em 1em;
  border: 2px solid lightgrey;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: white;
  box-shadow: 15px 8px 10px lightgrey;

  .video{
    max-width: 50em;
    box-shadow: 15px 8px 10px lightgrey;
  }

  .title{
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 2em;
    text-shadow: 2px 2px 3px grey;
  }

  .text{
    margin:1em;
    line-height: 1.5em;
    font-size:1.2em;
  }
}

.communication{
  margin: 2em;

  .share-link{
    text-align: left;
    margin-bottom: 1em;
  }

  .form{
    text-align: left;

    &-text{
      margin: 0.5em 0;
    }
  }

  .commentaries{
    text-align: left;
    margin-top:1em;
    border:1px solid lightgrey;
    border-radius: 0.5em;
    padding: 1em;
    position: relative;
    background-color: white;
    box-shadow: 15px 8px 10px lightgrey;

    p{
      font-size: 0.9em;
    }
  }
  #commentaries-list{
    display: flex;
  }
}

#userInfo{
  display: flex;
  flex:wrap;
  justify-content: space-between; 
  #userInfo-date{
    font-size: 0.8em;
    color: rgb(34, 139, 201);
  }
  #userInfo-userName{
    color: orangered;
    font-weight: bold;
  }
}

#userMessage{
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: #E9EBEE;
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .video-container {
    margin-left: auto;
    margin-right: auto;
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height: 0;
    padding-top: 30px;
    max-width: 50em;
    box-shadow: 15px 8px 10px lightgrey;
  }

  .video-container iframe,
  .video-container object,
  .video-container iframe { 
    left:0; 
    top:0; 
    height:100%; 
    width:100%; 
    position:absolute; 
  }
}
