#user-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }
}

#user-menu {
  margin-top: 30px;
  @media screen and (max-width: 1000px) {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

#user-info {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.left-container{
  @media screen and (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }
}

