.preferencies-form{
  display: flex;
  justify-content: space-around;
}

.prefered{
  padding: 0.4em;
  border-radius: 5em;
  color: #eee;
  background-color: #73CE63;
  border: none;
  margin-top: 0.3em;
}

.preferencies-button{
  padding: 0.4em;
  border-radius: 5em;
  background-color: #0082b0;
  color: #eee;
  border: none;
  margin-top: 0.3em;
}
