$color-title: #51483f;
$color-text: #999;
$color-input-placeholder: #999;
$color-input-value: #51483f;
$color-input-border: #ccc;
$color-input-border--focus: #67c8d4;
$color-input-label: #51483f;
$color-input-label--focus: #82d2dc;
$color-error: #e31e2a;
$color-button-background: #1B1C1D;
$color-button: #fff;
$color-link: #aaa8a6;
