
#app {
  font-size: 1.2em;
  text-align: center;
  background-color: #E5E8F0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    width: 100vw !important;
  }
}

