.container-head {
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: 64px;
  margin: 10px;
  color: black;
}

.logo {
  width: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 5em;

  @media (max-width: 1280px) {
    width: 100%;
}
}

.searchBar {
  height: 1em;
}

.container-head-right {
  margin-top: 45px;
  margin-right: 10px;
  justify-content: space-between;
}


.settings--open{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 800ms;
}
.sethide-login{
  position: absolute;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 800ms;
}
#AccountButton{
  margin-right: 2rem;
}


