.container-head {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
h1{
  font-size: 64px;
}

.logo {
  width: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 5em;
}

.searchBar {
  height: 1em;
}

.container-head-right {
  margin-top: 20px;
  justify-content: space-between;
}

