#footer {
  background-color: #1B1C1D; 
  height: 6em;
  width: 100vw;
  color: white;
  // padding: 2.5em;
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  

  .icons{
    position: absolute;
    left: 95vw;
    display: flex;
    flex-direction: column;
  }

  .link{
    position: absolute;
    left: 5vw;
    a{
      padding-right: 1em;
      color:white;

      &:hover{
        color: grey;
      }
    }
  }
}

