#footer {
  background-color: #1B1C1D; 
  position: relative;
  width: 100%;
  color: white;
  display: flex;
  flex: row nowrap;
  align-items: center;
  justify-content: space-between;

  

  .link{
    width: 50%;
    display: flex;
    justify-content: space-around;
    a{
      color:white;

      &:hover{
        color: grey;
      }
    }
    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      a{
        width: 100%;
        padding: 0.2em;
      }
    }
    @media screen and (min-width: 200px) and (max-width: 650px){
      width: 100%;
      font-size: 0.8em;
      display: flex;
      flex-direction: column;
      a{
        width: 100%;
        padding: 0.2em;
      }
    }
  }
}
.divicon{
  margin: 2%;
}
.icons{
  display: flex;
  flex-direction: column;
}
.textfooter{
  width: 40%;
  float: right;
  text-align: justify;
  @media screen and (min-width: 200px) and (max-width: 650px){
    font-size: 0.8em;
  }
}

.linkdiv{
  display: flex;
  justify-content: space-between;
  flex: row nowrap;
  width: 40%;
}
