#footer {
  background-color: #1B1C1D; 
  height: 6em;
  width: 100%;
  color: white;
  display: flex;
  flex: row nowrap;
  align-items: center;
  justify-content: space-between;

  

  .link{
    width: 40%;
    display: flex;
    justify-content: space-around;
    a{
      color:white;

      &:hover{
        color: grey;
      }
    }
  }
}
.divicon{
  margin: 2%;
}
.icons{
  display: flex;
  flex-direction: column;
}
.text{
  width: 10;
}
