@media screen and (max-width: 1000px) {
  .video-container-carousel {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container-carousel iframe,
  .video-container-carousel object,
  .video-container-carousel embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



