.side-drawer{
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 800;

}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active{
  color: #fa923f;
}
